.members-list-container {
    text-align: center;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
    min-width: 500px;
    margin: auto;
}

.members-card {
    display: inline;
    height: fit-content;
    grid-auto-rows: 100px;
  
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f44040;
    color: #000000;
    text-align: center;
    width: 200px;
}

.members-card .description {
    font-size: 12px;
    text-align: justify-all;
    margin: 10px;
    max-width: 90%;

    word-break: break-word;
    white-space: normal;
}

.members-image {
    width: 200px;
    height: auto;
}


.students-table {
    margin: auto;
    width: 50%;
    min-width: 500px;
    text-align: center;
    padding-bottom: 50px;
}