/* App.css */

/* General Styles */
* {
  color: white;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #BC3939;
  overflow: hidden; /* Prevent default scrolling */
  font-family: "PT Sans", sans-serif;
  font-size: large;
  font-weight: 600;
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar Styles */
#Navbar {
  background-color: #121517;
  width: 100%;
  height: 10vh; /* Fixed height for navbar */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  gap: 50px;
}

.nav-button {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 10vh;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: relative;
}

.nav-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background-color: #fff;
  transition: width 0.2s ease-out;
}

.nav-button:hover::after {
  width: 100%;
}

#SPS {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  font-size: 2em;
  color: red;
  text-shadow: 1px 2px white;
  margin-left: 50px;
}

#SPS::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: height 0.2s ease-out, background-color 0.2s ease-out;
}

#SPS:hover::after {
  height: 6px;
  background-color: red;
}

/* Page Container and Pages */
.page-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 500%; /* 5 pages * 100% */
  flex-grow: 1;
  overflow: hidden; /* Prevent horizontal scrollbars */
}

.page {
  width: 100%;
  overflow-y: scroll; /* Enable vertical scrolling within each page */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

.page::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Page Content Styles */
.App {
  padding: 0;
  min-width: 500px;
  margin: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 58px;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 6%;
}

.App h3 {
  font-size: 28px;
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 6%;
}

.App p {
  text-align: center;
  width: 100%;
}

/* Cover Image Styles */
.cover-image-background {
  background: url("/public/images/coverImage.png") top center;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.cover-image-foreground {
  margin-top: 300px;
  background: #BC3939;
  align-content: center;
  justify-content: center;
  align-items: center;
}
