* {
  color: white;
  letter-spacing: 1px;
}
body {
  background: #282c34;
  overflow-x: hidden;
}

.App {
    padding: 0;
    width: 60vw;
    min-width: 500px;
    /*height: 100%;*/
    /*min-height: 100vh;*/

    font-family: "PT Sans", sans-serif;
    font-size: large;
    font-weight: 600;

    margin: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.App h1 {
    font-size: 58px;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 6%;
}
.App h3 {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 6%;
}

.App p {
    text-align: center;
    width: 100%;
}


.cover-image-background {
    background: url("/public/images/coverImage.png") top center;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.cover-image-foreground {
    margin-top: 300px;

    background: #BC3939;
    align-content: center;
    justify-content: center;
    align-items: center;
}
